@import '../common/variables.styl'

.modal
	position fixed
	display flex
	width 100%
	background-color $blackOpacity50
	z-index 99
	overflow-x hidden
	overflow-y auto
	opacity 1
	transition all .5s ease
	top 0
	left 0
	bottom 0
	&__popup
		margin auto
		padding 80px
		background $white
		max-height 90vh
		overflow-y auto
		@media(max-width 1679px)
			padding 70px 50px
		@media(max-width 1365px)
			padding 60px 45px
		@media(max-width 767px)
			padding 50px 40px
		@media(max-width 575px)
			width 90%
		&--extra-small
			max-width 560px
			@media(max-width 1365px)
				max-width 460px
			@media(max-width 560px)
				max-width 375px
			@media(max-width 420px)
				max-width 90%
	&__cross
		width 24px
		height 24px
		position absolute
		right 27px
		top 27px
		background transparent url('../../img/cross-modal.png') center no-repeat
		background-size contain
		@media(max-width 1679px)
			width 20px
			height 20px
		@media(max-width 1365px)
			right 17px
			top 17px

	&__inner
		&--wide
			width 80vw
			@media(max-width 575px)
				width 100%

		&--form
			width 600px
			padding 0 20px
			@media(max-width 767px)
				width 500px
			@media(max-width 640px)
				padding 0
				width 450px
			@media(max-width 575px)
				width auto

	&__text
		margin-bottom 55px
		@media(max-width 991px)
			margin-bottom 45px
		@media(max-width 767px)
			margin-bottom 30px

	&__button
		&:first-child
			margin-right 50px
		@media(max-width 991px)
			&:first-child
				margin-right 30px
		@media(max-width 575px)
			&:first-child
				margin-right 20px

	&__title
		margin-bottom 75px
		@media(max-width 1365px)
			margin-bottom 55px
		@media(max-width 991px)
			margin-bottom 45px
		@media(max-width 575px)
			margin-bottom 35px

	&__form
		margin-bottom 60px
		width 100%
		@media(max-width 991px)
			margin-bottom 50px
		@media(max-width 575px)
			margin-bottom 45px

	&__field
		margin-bottom 35px
		&:last-child
			margin-bottom 0
		@media(max-width 1365px)
			margin-bottom 30px
		@media(max-width 991px)
			margin-bottom 25px
		@media(max-width 575px)
			margin-bottom 20px
			flex-direction column
			align-items flex-start
	
	&__datepicker
		& .ant-calendar-picker
			padding 8px 20px

	&__input
		&--wide
			width 70%
			@media(max-width 640px)
				width 68%
			@media(max-width 575px)
				width 100%

		&--middle
			width 61%
			@media(max-width 575px)
				width 100%

	&__label
		@media(max-width 575px)
			padding-left 10px
			margin-bottom 5px
			margin-right 0