.text,
$text
    font-size 20px
    font-weight 400
    line-height 30px
    font-family 'Roboto', sans-serif
    @media(max-width 1599px)
        line-height 26px
    @media(max-width 1365px)
        font-size 18px
    @media(max-width 991px)
        font-size 16px
        line-height 24px

.text--small,
$text--small
    font-size 18px
    line-height 26px
    @media(max-width 1365px)
        font-size 16px
        line-height 24px

.text--extra-small,
$text--extra-small
    font-size 15px
    line-height 20px

.text--mini,
$text--mini
    font-size 12px
    line-height 18px

.text--preview,
$text--preview
    font-size 13px
    line-height 16px

.text--underline,
$text--underline
	position relative
	&:after
		content ''
		position absolute
		bottom 0px
		left 0
		width 100%
		height 1px
		background var(--line-color, $orange)

