
@import '../common/variables.styl'
@import './text.styl'

add(r)
    @keyframes show {
        0% {
            opacity 0
        }
        100% {
            opacity 1
            right r
        }
    }

.warnings
    max-width 600px
    position fixed
    top 20px
    right -600px
    margin 0 auto
    color $white
    z-index 99999
    border-radius 3px
    padding 20px 50px 20px 20px
    animation-name show
    animation-delay .1s
    animation-duration .8s
    animation-fill-mode both
    animation-timing-function ease
    opacity 0
    add(60px)
    @media(max-width 1365px)
        add(45px)
    @media(max-width 991px)
        add(25px)
    @media(max-width 765px)
        add(20px)
    @media(max-width 374px)
        add(10px)
    &__text
        @extends .text
    &--error
        background-color $paleRed 
    &--success
        background-color $grassGreen
